#home{
    margin-top: 30px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 30px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(5px);
   -webkit-backdrop-filter: blur(5px);
   border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: white;
}
.home-content {
  width: 45%;
  height: max-content;
  justify-content: center;
  padding: 20px;
  min-height: 20vh;
  text-align: left;
  margin-top: 80px;
  align-items: center;
}
.img img{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 4px 6px black;
    height: 80vh;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
     border-radius: 12px;
     border: 1px solid rgba(255, 255, 255, 0.125);
     color: white;
     border-radius: 50%;
     animation: martins 3s linear infinite;
     margin-right: 30px;
}
@keyframes martins {
    0%{
        transform: translateY(-60px);
    }
    100%{
        transform: translateY(60px);
    }
}
.home-content h1{
    min-height: 60%;
    text-align: left;
}
.home-content p{
    font-size: 16px;
    margin: 20px 0 40px;
    line-height: 30px;
}
.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    margin-bottom: 300px;
}
.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;
}
.btn-box a::before{
    content: '';
    position: absolute;top: 0;
    left: 0;width: 0;height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .9s;
}
.btn-box a:hover{
    color: #00abf0;
}
.btn-box a:hover::before{
    width: 100%;
}
.btn-box a:nth-child(2)::before{
    background: #00abf0;
}
.btn-box a:nth-child(2):hover{
    color: #081b29;
}
.home-sci{
    position: absolute;
    bottom: 140px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}
.home-sci a{
    position: relative;
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #081b29;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.home-sci a:hover{
  color: #081b29;
}
.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}
.home-sci a:hover::before{
    width: 100%;
}
@keyframes showright{
    100%{
        width: 0;
    }
}
.home-content p{
    color: white;
    font-size: 1.2em;
    font-weight: 500;
}