.contact{
    width: 100%;
    background: inherit;
    padding: 50px;
}
form{
    width: 80%;
    margin-left: 10%;
    background: transparent;
    border: 2px solid  chartreuse;
    border-radius: 12px;
    max-height: max-content;
    min-height: 63vh;
}
textarea{
    width: 80%;
    height: 6vh;
    margin-left: 10%;
    padding: 25px;
    color: black;
    margin-top: 12px;
    border-radius: 12px;
    font-weight: 600;
}
::placeholder{
    color: black;
    text-transform: uppercase;
}
option{
    text-transform: uppercase;
    color: black;
}
input,select{
    width: 80%;
    height: 5vh;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 20px;
    border-radius: 12px;
    outline: 0;
    font-weight: 600;
}

button{
    width: 80%;
    height: 6vh;
    margin-left: 10%;
    margin-top: 12px;
    border-radius: 12px;
    padding: 23px;
    margin-bottom: 30px;
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00afb0;
    border: 0;
}