.header{
    top: 0; left: 0;width: 100%; padding: 20px 10%;
    background-color: #00abf0;
    display: flex;justify-content: space-between;align-items: center;
    z-index: 100;
    border-bottom: 2px solid black;
}
.logo{
    line-height: 30px;
    font-size: 35px; color: black;text-decoration: none;
    font-weight: 700;position: relative; text-transform: uppercase;
}
.navbar a{
    font-size: 18px; color: #ededed;text-decoration: none;
    font-weight: 500;margin-left: 20px;transition: .3s;
    border-radius: 10px;background: blue; padding: 10px;
}
.navbar a:hover  , .navbar a.active{
    color: #00abf0;
}
a.active{
    background: chartreuse;
    color: black;
}