header{
    width: 90%;
    position: relative;
    background-color: rgb(5, 2, 12);
    height: 10vh;
    justify-content: space-between;
    display: flex;
    padding: 12px;
    top: 20px;
    border-radius: 12px;
    margin-left: 4%;
}
nav a{
    font-size: 1.3em;
    background-color: blueviolet;
    padding: 12px;
    margin-left: 22px;
    text-transform: uppercase;
    font-weight: 500;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    border-radius: 12px;
}
nav{
    justify-content: space-between;
    margin-right: 30px;
    padding: 15px;
}
#mes{
    text-transform: capitalize;
    padding: 12px;
    font-size: 1.6em;
    font-weight: 600;
    color: white;
}
#mes:hover{
    color: blue;
}
nav a:hover{
    background-color: chartreuse;
}