.nav{
    padding: 20px;
    border-bottom: 2px solid black;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.logo{
    line-height: 30px;
    font-size: 35px; 
    color: white;
    text-decoration: none;
    font-weight: 700;position: relative; 
    text-transform: capitalize;
}
#navbar{
    margin-right: 300px;
}
.redx{
    display: none;
}
ul{
    margin-right: 20px;
    display: flex;
    float: right;
}
li{
   display: flex;
   align-items: center;
   justify-content: center;
    margin-left: 40px;
}
li a{
    text-transform: capitalize;
    margin-left: 12px;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color:  white;
}
.icon{
    display: none;
}
@media(max-width:930px){
    .nav.navbar{
        height: 70vh;
        padding: 0;
        padding: 0;
        align-items: self-start;
    }
    .redx{
        display: block;
        width: 100%;
        margin-top: 0;
    }
    .red{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }
    ul{
        min-height: 50vh;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-right: 0;
        background: #111928;
        position: absolute;
        padding: 0;
        margin-top: 0;
    }
    ul li{
        margin-top: 10px;
        border: 2px solid white;
        margin-left: 0;
        width: 200px;
        height: 60px;
        transition: .6s ease-in;
    }
    ul li:hover{
        background: white;
        color: black;
        border-radius: 10px;
    }
    a:hover{
        color: black;
    }
 .nav .icon{
     display: block;
    }
 .sed{
     display: none;
    }
 }
 .nav .icon{
     color: white;
     float: right;
 }
 .icon .bx{
     font-size: 25px;
     margin-right: 12px;
     padding-top: 20px;
     cursor: pointer;
 }
 @media (min-width: 930px){
     .nav .icon{
         display: none;
     }
 }
 .span{
    float: right; color: white; font-size: 25px; 
    padding-top: 20px; margin-right: 20px;
 }