.skills{
    width: 90%;
    margin-left: 5%;
    border: 3px solid #00afb0;
    padding: 12px;
    height: max-content;
    margin-bottom: 30px;
}
h1{
    text-align: center;
    margin-bottom: 5px;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.skills-bx p{
    width: 90%;
    margin-left: 4.5%;
    height: min-content;
    padding: 12px;
    font-size: 1.2em;
    margin-top: 15px;
    color: white;
    line-height: 30px;
    border: 2px solid #00afb0;
    margin-bottom: 12px;
    border-radius: 12px;
}
hr{
    margin-bottom: 12px;
}